                                                            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@100;400;700&family=Roboto:wght@100&display=swap');
                                                            .header {
                                                                font-family: 'Open Sans', sans-serif;
                                                                width: 100%;
                                                                max-width: 1510px;
                                                                margin: 0 auto;
                                                                box-sizing: border-box;
                                                            }
                                                            
                                                            .header_1 {
                                                                background: #000000;
                                                                width: 100%;
                                                                max-width: 1510px;
                                                                height: 75px;
                                                                display: flex;
                                                                justify-content: space-between;
                                                                margin-top: 0;
                                                            }
                                                            
                                                            .header_1_img {
                                                                 padding: 0;
                                                                /* height: 30.69px; */
                                                            }
                                                            
                                                            .header_1_img1 {
                                                               max-width: 183px;
                                                               width: 100%;
                                                                /* height: 30.69px; */
                                                                padding-left: 115px;
                                                                line-height: 75px;
                                                                margin-top: 0;
                                                            }
/*                                                             
                                                            .header_1_img2 {
                                                                width: 32.17px;
                                                                height: 30.69px;
                                                            } */
                                                            
                                                            .header_1_1{max-width: 569px;
                                                            width: 100%;
                                                        display: flex;
                                                    flex-direction: row;
                                                    margin-right: 170px;}

                                                                                                                        
                                                            .header_1_nav1 {
                                                                font-family: 'Open Sans', sans-serif;
                                                                font-size: 14px;
                                                                font-weight: 600;
                                                                line-height: 1.6;
                                                                text-align: center;
                                                                color: #FFFFFF;
                                                                max-width: 113px;
                                                                width: 100%;
                                                                 line-height: 75px;
                                                                 box-sizing: border-box;
                                                               
                                                            }
                                                            .header_1_nav_a {
                                                                font-family: 'Open Sans', sans-serif;
                                                                font-size: 14px;
                                                                font-weight: 600;
                                                                line-height: 1.6;
                                                                text-align: center;
                                                                color: #FFFFFF;
                                                                max-width: 113px;
                                                                width: 100%;
                                                                 line-height: 75px;
                                                                text-decoration: none;
                                                                margin: 20px;
                                                                
                                                            }

                                                            .header_1_nav1:hover {
                                                                font-size: 13px;
                                                                text-transform: uppercase;
                                                                font-weight: 700;
                                                                background: #EC7979;
                                                                transition: 0.2s;
                                                            }
                                                            .header_1_nav1:active {
                                                                font-size: 13px;
                                                                text-transform: uppercase;
                                                                font-weight: 700;
                                                                background: #AB4949;
                                                                transition: 0.2s;
                                                            }
                                                            
                                                            .header_2 {
                                                                background-image: url('/все/assets/bgA.png'), url('/все/assets/imageA.png');
                                                                /* background: #000000;
                                                                border: 1px solid white; */

                                                                width: 100%;
                                                                max-width: 1510px;
                                                                height: 951px;
                                                                margin-left: 170px;
                                                                margin: 0 auto;
                                                                opacity: 1.5;
                                                                display: flex;
                                                                flex-direction: row;
                                                                justify-content: center;
                                                              
                                                            }
                                                            
                                                            .header_2_conteiner {
                                                                max-width: 1170px;
                                                                width: 100%;
                                                                margin: 0 0 0 170px;
                                                                padding-left: 0 ;
                                                                /* display: flexbox;
                                                        flex-direction: row; */
                                                            }
                                                            
                                                            .header_2_img {
                                                                /* position: relative;
                                                                top: 231px;
                                                                left: 50px; */
                                                                margin-top: 231px;
                                                                margin-bottom: 73px;
                                                                max-width: 670px;
                                                                width: 100%;
                                                            }
                                                            
                                                            .header_2_img1 {
                                                                width: 102px;
                                                                height: 55px;
                                                            }
                                                            
                                                            .header_2_img2 {
                                                                width: 63px;
                                                                height: 55px;
                                                            }
                                                            
                                                            .header_2_h1 {
                                                                /* position: relative; */
                                                                font-family: 'Raleway', sans-serif;
                                                                font-size: 48px;
                                                                font-weight: 500;
                                                                line-height: 56px;
                                                                color: white;
                                                                max-width: 670px;
                                                                width: 100%;
                                                                height: 168px;
                                                                /* margin-left: 50px;
                                                                margin-top: 359px; */
                                                            }
                                                            
                                                            .header_2_text1 {
                                                                font-family: 'Raleway';
                                                                font-size: 18px;
                                                                font-weight: 400;
                                                                line-height: 21px;
                                                                color: white;
                                                                width: 270px;
                                                                height: 42px;
                                                                /* margin-left: 50px;*/
                                                                margin-top: 42px; 
                                                                margin-bottom: 42px; 
                                                            }
                                                            
                                                            .header_2_separator {
                                                                width: 170px;
                                                                height: 0;
                                                                border: 1px solid white;
                                                                margin-left: 1px;
                                                                margin-top: 55px;
                                                            }
                                                            
                                                            .header_buttom {
                                                                color: #FFFFFF;
                                                                font-family: 'Open Sans', sans-serif;
                                                                font-weight: 600;
                                                                font-size: 18px;
                                                                width: 270px;
                                                                height: 58px;
                                                                background: rgba(0, 0, 0, 0);
                                                                border: 2px solid white;
                                                                padding: 0;
                                                                /* margin-left: 50px; */
                                                            }
                                                            
                                                            .header_buttom:hover {
                                                                border: 2px solid rgba(236, 121, 121, 1);
                                                                color: rgba(236, 121, 121, 1);
                                                            }
                                                            
                                                            .header_buttom:active {
                                                                border: 2px solid rgba(171, 73, 73, 1);
                                                                color: white;
                                                                background: rgba(171, 73, 73, 1);
                                                            }
                                                            
                                                            .header_2_menu {
                                                                /* position: absolute;
                                                                top: 283px;
                                                                left: 820px; */
                                                                width: 470px;
                                                                height: 450px;
                                                                background: rgba(255, 255, 255, 1);
                                                                border-radius: 10px;
                                                                margin-top: 231px;
                                                                margin-right: 170px;
                                                            }
                                                            
                                                            .header_2_menu1 {
                                                                margin: 0 53px;
                                                            }
                                                            
                                                            .header_2_menu_h4 {
                                                                color: #333333;
                                                                font-family: 'Open Sans', sans-serif;
                                                                font-weight: 700;
                                                                font-size: 24px;
                                                                line-height: 33px;
                                                                /* height: 90px; */
                                                                margin: 0;
                                                                text-align: center;
                                                                padding: 33px 0;
                                                                text-transform: uppercase;
                                                                margin-bottom: 45px;
                                                            }
                                                            
                                                            .header_2_menu_h4>span {
                                                                color: #EC7979;
                                                            }
                                                            
                                                            .header_2_form {
                                                                color: rgba(189, 189, 189, 1);
                                                                font-family: 'Open Sans', sans-serif;
                                                                font-weight: 400;
                                                                font-size: 14px;
                                                                line-height: 19px;
                                                                width: 370px;
                                                                border: none;
                                                            }
                                                            
                                                            .header_2_form_separator {
                                                                width: 370px;
                                                                height: 0;
                                                                border: 1px solid rgba(189, 189, 189, 1);
                                                                margin: 16px 0 33px 0;
                                                            }
                                                            
                                                            .header_2_form_separator:last-child {
                                                                margin-bottom: 65px;
                                                            }
                                                            
                                                            .header_2_button {
                                                                color: white;
                                                                font-family: 'Open Sans', sans-serif;
                                                                font-weight: 600;
                                                                font-size: 15px;
                                                                line-height: 20px;
                                                                background: #EC7979;
                                                                border-radius: 0px 0px 10px 10px;
                                                                border: none;
                                                                width: 470px;
                                                                height: 60px;
                                                                /* margin-top: 31px; */
                                                                padding: 0;
                                                            }
                                                            
                                                            .header_2_button:hover {
                                                                color: white;
                                                                font-family: 'Open Sans', sans-serif;
                                                                font-weight: 600;
                                                                font-size: 15px;
                                                                line-height: 20px;
                                                                background: #AB4949;
                                                                ;
                                                            }
                                                            
                                                            .header_2_button:active {
                                                                background: #EC7979;
                                                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                                            }
                                                            
                                                            .header_3 {
                                                                display: flex;
                                                                flex-direction: row;
                                                                background: #F8EFEF;
                                                            }
                                                            
                                                            .header_3_conteiner {
                                                                max-width: 1510px;
                                                                width: 100%;
                                                                height: 140px;
                                                                background: #F8EFEF;
                                                            }
                                                            
                                                            .header_3_h4 {
                                                                font-family: 'Open Sans', sans-serif;
                                                                font-weight: 700;
                                                                font-size: 24px;
                                                                line-height: 33px;
                                                                color: #333333;
                                                                max-width: 440px;
                                                                width: 100%;
                                                                /* height: 60px; */
                                                                margin: 0;
                                                                margin-left: 170px;
                                                                padding-top: 24px;
                                                            }
                                                            
                                                            .header_3_h5 {
                                                                font-family: 'Raleway', sans-serif;
                                                                font-size: 18px;
                                                                font-weight: 400;
                                                                line-height: 21px;
                                                                color: #86878B;
                                                                max-width: 440px;
                                                                width: 100%;
                                                                height: 42px;
                                                                margin: 18px 0 18px 170px;
                                                            }
                                                            
                                                            .header_3_icon 
                                                                   {margin-top: 24px;
                                                                    max-width: 569px;
                                                                    width: 100%;
                                                                display: flex;
                                                            flex-direction: row;
                                                            margin-right: 170px;
                                                            }
                                                            
                                                            
                                                            .header_3_icon_img1 {
                                                                max-width: 70px;
                                                                width: 100%;
                                                                 margin-right: 30px;
                                                            }
                                                            
                                                            .header_3_icon_img2 {
                                                                max-width: 70px;
                                                                width: 100%;
                                                                margin-right: 30px;
                                                            }
                                                            
                                                            .header_3_icon_img3 {
                                                                max-width: 70px;
                                                                width: 100%;
                                                                margin-right: 30px;
                                                            }
                                                            
                                                            .header_3_icon_img4 {
                                                                max-width: 70px;
                                                                width: 100%;
                                                                margin-right: 30px;
                                                            }
                                                            
                                                            .header_3_icon_img5 {
                                                                max-width: 70px;
                                                                width: 100%;
                                                                margin-right: 30px;
                                                            }
                                                            
                                                            .header_3_icon_img6 {
                                                                max-width: 70px;
                                                                width: 100%;
                                                                margin-right: 30px;
                                                            }
                                                            
                                                            .header_3_icon_img7 {
                                                                max-width: 70px;
                                                                width: 100%;
                                                                margin-right: 30px;
                                                            }